<h1>Lessons#hello</h1>
<p>Find me in app/views/lessons/hello.html.erb</p>
def hello
     @hello = "こんにちは"
     @message = "helloアクションが実行されています"
   end
   def call
    @call = "callアクションが実行されています"
  end
end