<section class="container room-list-container">
<h3>登録済み一覧</h3>
  <div>
    <table class="table align-middle">
      <thead>
        <tr>
          <th>画像</th>
          <th>施設名</th>
          <th>紹介文</th>
          <th>料金</th>
          <th>作成日</th>
         </tr>
      </thead>