// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.ReservationForm__input{
    position: relative;
    margin:auto;
    bottom: 500px;
    left: 50px;
    width: 100px;
} 


th[scope='col'] {
    position: relative;
    left: -70px;
}

table td {
    background-color: #f9ecd5;
    padding: 15px 40px;
  }
  

table th {
    background-color: #fbc25b;
    padding: 15px 30px;
  }
 

