// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h2{
    font-size: 30px;
}
.UserContainer{
    position: relative;
    left: 500px;
     
}

h3{
    position: relative;
    left: 500px;
    font-size: 30px;
    margin-bottom: 35px;
    bottom:90px;

}

.AccountFrom{
    width: 50%;
    padding: 20px 5px;
    border-radius: 4px;
    height:5px;
}

.account_submit{
    width: 25%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color:#FF9966;
    color: #fff;
    font-weight: bold;
    border: 2px solid transparent;
    cursor: pointer;
}

.AccountForm_input-group{

    position: relative;
    left: 500px;
    margin-top :20px;
    bottom :130px;
     
}

.icon-upload{
    position: relative;
    left: 100px;
    bottom:70px;
}

input[type="password"] {
    width: 300px;
    height: 40px;
}

.btn_submit{
    position: relative;
    width: 15%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color:#FF9966;
    color: #fff;
    font-weight: bold;
    border: 2px solid transparent;
    cursor: pointer;
    left: 1000px;
    bottom :100px;
}

.btn_back{

    position: relative;
    width: 20%;
    padding: 10px 50px;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    border: 2px solid transparent;
    cursor: pointer;
    left: 800px;
    bottom :130px;
    background-color:#FF9966;
}

.SideNavigation{
    position: relative;
    right: 1000px;
    font-size :20px;

}

.button_edit{
    position: fixed;
    bottom:500px;
    left :300px;

}